SocialFrame.xcodeproj/csanz.mode1v3		
SocialFrame.xcodeproj/xcuserdata		
SocialFrame.xcodeproj/xdamman.pbxuser
SocialFrame.xcodeproj/csanz.pbxuser		
SocialFrame.xcodeproj/project.xcworkspace	
SocialFrame.xcodeproj/xdamman.mode1v3

