SocialFrame.xcodeproj/*.perspectivev3
TweetWall.xcodeproj/*.perspectivev3
SocialFrame.xcodeproj/*.pbxuser
TweetWall.xcodeproj/*.pbxuser
SocialFrame.xcodeproj/*.mode1v3
TweetWall.xcodeproj/*.mode1v3
SocialFrame.xcodeproj/xcuserdata		
TweetWall.xcodeproj/xcuserdata		
SocialFrame.xcodeproj/project.xcworkspace	
TweetWall.xcodeproj/project.xcworkspace	
build*
